.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: skyblue;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
}



img.headerpic{
  display:block;
  margin-left: auto;
  margin-right: auto;
  height:550px;
  width:1500px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
}
